swagger: '2.0'
info:
  description: API do Serviço de Previdência
  version: '1.0.0-SNAPSHOT - 2018-11-30 16:33Z'
  title: API do Serviço de Previdência
  termsOfService: Terms of service
  contact:
    name: 4253684@corpr.bradesco.com.br
  license:
    name: License of API
    url: API license URL
host: api.bradesco.com.br
basePath: /v1
tags:
  - name: Beneficio
    description: ÁGORA - Beneficio
  - name: Cobrança
    description: ÁGORA - Cobrança
  - name: Propostas
    description: ÁGORA - Propostas
  - name: Contribuição
    description: ÁGORA - Contribuição
paths:
  /agora/alteraDadosCobranca:
    put:
      tags:
        - Cobrança
      summary: Alterar dados de cobrança
      operationId: alterarCobrancaUsingPUT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: canal
          in: header
          description: Canal de acesso
          required: false
          type: integer
          format: int32
        - name: origem
          in: header
          description: Código da junção funcional do funcionário
          required: false
          type: integer
          format: int32
        - name: usuario
          in: header
          description: Usuário
          required: false
          type: integer
          format: int32
        - name: identFuncionario
          in: header
          description: >-
            Identificação se o usuário é funcionário da Organização S - SIM N-
            NÃO
          required: false
          type: string
        - name: codCorretor
          in: header
          description: Código do corretor
          required: false
          type: integer
          format: int64
        - name: identRepresentante
          in: header
          description: Identificação se é representante ou corretor
          required: false
          type: string
        - name: access-token
          in: header
          description: API access token
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AlterarCobrancaResponse'
        '201':
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbbiden
        '404':
          description: Not Found
        '422':
          description: Business Error.
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /agora/alteraDataAtc:
    post:
      tags:
        - Contribuição
      summary: Alteração ATC (Aponsetadoria por tempo de contribuição)
      operationId: alteracaoatcUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: canal
          in: header
          description: Canal de acesso
          required: false
          type: integer
          format: int32
        - name: origem
          in: header
          description: Código da junção funcional do funcionário
          required: false
          type: integer
          format: int32
        - name: usuario
          in: header
          description: Usuário
          required: false
          type: integer
          format: int32
        - name: identFuncionario
          in: header
          description: >-
            Identificação se o usuário é funcionário da Organização S - SIM N-
            NÃO
          required: false
          type: string
        - name: corretor
          in: header
          description: Código do corretor
          required: false
          type: integer
          format: int64
        - name: identRepresentante
          in: header
          description: >-
            Identificação se e representante ou corretor 1 - Corretor 2 -
            Representante
          required: false
          type: string
        - in: body
          name: request
          description: request
          required: true
          schema:
            $ref: '#/definitions/AlteracaoAtcRequest'
        - name: access-token
          in: header
          description: API access token
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AlteracaoAtcResponse'
        '201':
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbbiden
        '404':
          description: Not Found
        '422':
          description: Business Error.
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /agora/alteraDiaVencimento:
    put:
      tags:
        - Cobrança
      summary: Alterar dia de vencimento da cobrança
      operationId: alterarDiaVencimentoCobrancaUsingPUT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: canal
          in: header
          description: Canal de acesso
          required: false
          type: integer
          format: int32
        - name: origem
          in: header
          description: Código da junção funcional do funcionário
          required: false
          type: integer
          format: int32
        - name: usuario
          in: header
          description: Usuário
          required: false
          type: integer
          format: int32
        - name: identFuncionario
          in: header
          description: >-
            Identificação se o usuário é funcionário da Organização S - SIM N-
            NÃO
          required: false
          type: string
        - name: codCorretor
          in: header
          description: Código do corretor
          required: false
          type: integer
          format: int64
        - name: identRepresentante
          in: header
          description: Identificação se é representante ou corretor
          required: false
          type: string
        - name: access-token
          in: header
          description: API access token
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AlterarDiaVencimentoCobrancaResponse'
        '201':
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbbiden
        '404':
          description: Not Found
        '422':
          description: Business Error.
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /agora/alteraFormaCobranca:
    put:
      tags:
        - Cobrança
      summary: Alterar forma de cobrança
      operationId: alterarFormaCobrancaUsingPUT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: canal
          in: header
          description: Canal de acesso
          required: false
          type: integer
          format: int32
        - name: origem
          in: header
          description: Código da junção funcional do funcionário
          required: false
          type: integer
          format: int32
        - name: usuario
          in: header
          description: Usuário
          required: false
          type: integer
          format: int32
        - name: identFuncionario
          in: header
          description: >-
            Identificação se o usuário é funcionário da Organização S - SIM N-
            NÃO
          required: false
          type: string
        - name: codCorretor
          in: header
          description: Código do corretor
          required: false
          type: integer
          format: int64
        - name: identRepresentante
          in: header
          description: Identificação se é representante ou corretor
          required: false
          type: string
        - name: access-token
          in: header
          description: API access token
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AlterarFormaCobrancaResponse'
        '201':
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbbiden
        '404':
          description: Not Found
        '422':
          description: Business Error.
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /agora/associarBeneficioRisco:
    post:
      tags:
        - Beneficio
      summary: Associar Benefício de Risco
      operationId: associarbeneficioriscoUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: canal
          in: header
          description: Canal de acesso
          required: false
          type: integer
          format: int32
        - name: origem
          in: header
          description: Código da junção funcional do funcionário
          required: false
          type: integer
          format: int32
        - name: usuario
          in: header
          description: Usuário
          required: false
          type: integer
          format: int32
        - name: identFuncionario
          in: header
          description: >-
            Identificação se o usuário é funcionário da Organização S-SIM e
            N-NÃO
          required: false
          type: string
        - name: corretor
          in: header
          description: Código do corretor
          required: false
          type: integer
          format: int64
        - name: identRepresentante
          in: header
          description: >-
            Identificação se é representante ou corretor 1 - Corretor e
            2-Representante
          required: false
          type: string
        - in: body
          name: request
          description: request
          required: true
          schema:
            $ref: '#/definitions/AssociarBeneficioRiscoRequest'
        - name: access-token
          in: header
          description: API access token
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AssociarBeneficioRiscoResponse'
        '201':
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbbiden
        '404':
          description: Not Found
        '422':
          description: Business Error.
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /agora/cancelaProposta:
    delete:
      tags:
        - Propostas
      summary: Cancelamento da Proposta
      operationId: cancelamentopropostaUsingDELETE
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: canal
          in: header
          description: Canal de acesso
          required: false
          type: integer
          format: int32
        - name: origem
          in: header
          description: Código da junção funcional do funcionário
          required: false
          type: integer
          format: int32
        - name: usuario
          in: header
          description: Código da junção funcional do funcionário
          required: false
          type: integer
          format: int32
        - name: identFuncionario
          in: header
          description: Usuário é funcionário da organização? S(SIM) N(NÃO)
          required: false
          type: string
        - name: corretor
          in: header
          description: Código do corretor
          required: false
          type: integer
          format: int64
        - name: identRepresentante
          in: header
          description: >-
            Identificação se é Representante ou Corretor (1-Corretor e 2 -
            Representante)
          required: false
          type: string
        - in: body
          name: request
          description: request
          required: true
          schema:
            $ref: '#/definitions/CancelamentoPropostaRequest'
        - name: access-token
          in: header
          description: API access token
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CancelamentoPropostaResponse'
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbbiden
        '404':
          description: Not Found
        '422':
          description: Business Error.
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /agora/cancelaPropostaDigitada:
    delete:
      tags:
        - Propostas
      summary: Cancelar Proposta Digitada
      operationId: cancelapropostadigitadaUsingDELETE
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: canal
          in: header
          description: Canal de acesso
          required: false
          type: integer
          format: int32
        - name: origem
          in: header
          description: Código da junção funcional do funcionário
          required: false
          type: integer
          format: int32
        - name: usuario
          in: header
          description: Código da junção funcional do funcionário
          required: false
          type: integer
          format: int32
        - name: identificaFuncionario
          in: header
          description: Usuário é funcionário da organização? S(SIM) N(NÃO)
          required: false
          type: string
        - name: codigoCorretor
          in: header
          description: Código do corretor
          required: false
          type: integer
          format: int64
        - name: identificaRepresentante
          in: header
          description: >-
            Identificação se é Representante ou Corretor (1-Corretor e
            2-Representante)
          required: false
          type: string
        - in: body
          name: request
          description: request
          required: true
          schema:
            $ref: '#/definitions/CancelaPropostaDigitadaRequest'
        - name: access-token
          in: header
          description: API access token
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CancelaPropostaDigitadaResponse'
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbbiden
        '404':
          description: Not Found
        '422':
          description: Business Error.
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /agora/consultaDetalhesProposta:
    get:
      tags:
        - Propostas
      summary: Consulta Detalhes da Proposta
      operationId: consultadetalhespropostaUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: canal
          in: header
          description: Canal de acesso
          required: false
          type: integer
          format: int32
        - name: origem
          in: header
          description: Código da junção funcional do funcionário
          required: false
          type: integer
          format: int32
        - name: usuario
          in: header
          description: Código da junção funcional do funcionário
          required: false
          type: integer
          format: int32
        - name: identificaFuncionario
          in: header
          description: Usuário é funcionário da organização? S(SIM) N(NÃO)
          required: false
          type: integer
          format: int32
        - name: codigoCorretor
          in: header
          description: Código do corretor
          required: false
          type: integer
          format: int64
        - name: identificaRepresentante
          in: header
          description: >-
            Identificação se é Representante ou Corretor (1-Corretor e
            2-Representante)
          required: false
          type: integer
          format: int32
        - name: indicadorOperacao
          in: query
          description: Indicador operacao
          required: false
          type: integer
          format: int32
        - name: serieProposta
          in: query
          description: Serie
          required: false
          type: integer
          format: int32
        - name: produtoProposta
          in: query
          description: 'Proposta '
          required: false
          type: string
        - name: access-token
          in: header
          description: API access token
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ConsultaDetalhesPropostaResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbbiden
        '404':
          description: Not Found
        '422':
          description: Business Error.
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /agora/consultaExtratos:
    get:
      tags:
        - Contribuição
      summary: Consultar Extrato
      operationId: consultaextratoUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: canal
          in: header
          description: Canal de acesso
          required: false
          type: integer
          format: int32
        - name: origem
          in: header
          description: Código da junção funcional do funcionário
          required: false
          type: integer
          format: int32
        - name: usuario
          in: header
          description: Usuário
          required: false
          type: integer
          format: int32
        - name: identFuncionario
          in: header
          description: >-
            Identificação se o usuário é funcionário da Organização S - SIM N-
            NAO
          required: false
          type: string
        - name: corretor
          in: header
          description: Código do corretor
          required: false
          type: integer
          format: int64
        - name: identRepresentante
          in: header
          description: >-
            Identificação se é representante ou corretor 1 - Corretor 2 -
            Representante
          required: false
          type: string
        - name: serie
          in: query
          description: Série da proposta
          required: false
          type: integer
          format: int32
        - name: proposta
          in: query
          description: Código da proposta
          required: false
          type: integer
          format: int32
        - name: matricula
          in: query
          description: Número da matrícula
          required: false
          type: integer
          format: int64
        - name: codFormulario
          in: query
          description: Código do formulario
          required: false
          type: integer
          format: int32
        - name: access-token
          in: header
          description: API access token
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ConsultaExtratoResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbbiden
        '404':
          description: Not Found
        '422':
          description: Business Error.
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /agora/consultaParametrosAporte:
    get:
      tags:
        - Contribuição
      summary: Consultar Parâmetros para Aporte
      operationId: detalheparticipanteUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: canal
          in: header
          description: Canal de acesso
          required: false
          type: integer
          format: int32
        - name: origem
          in: header
          description: Código da junção funcional do funcionário
          required: false
          type: integer
          format: int32
        - name: usuario
          in: header
          description: Usuário
          required: false
          type: integer
          format: int32
        - name: identFuncionario
          in: header
          description: >-
            Identificação se o usuário é funcionário da Organização S - SIM N-
            NÃO
          required: false
          type: string
        - name: corretor
          in: header
          description: Código do corretor
          required: false
          type: integer
          format: int64
        - name: identRepresentante
          in: header
          description: >-
            Identificação se é representante ou corretor 1 - Corretor 2 -
            Representante
          required: false
          type: string
        - name: propostaCpf
          in: query
          description: CPF
          required: false
          type: integer
          format: int64
        - name: propostaDataNasc
          in: query
          description: Data de nascimento
          required: false
          type: string
        - name: propostaSexo
          in: query
          description: Sexo
          required: false
          type: string
        - name: propostaCdPlano
          in: query
          description: Código do plano
          required: false
          type: integer
          format: int32
        - name: propostaCdBeneficio
          in: query
          description: Código do benefício
          required: false
          type: integer
          format: int32
        - name: propostaCdPlanJovem
          in: query
          description: Código do plano jovem
          required: false
          type: integer
          format: int32
        - name: propostaTipoContribuicao
          in: query
          description: Tipo de contribuição
          required: false
          type: integer
          format: int32
        - name: propostaCpfPatroc
          in: query
          description: CPF
          required: false
          type: integer
          format: int64
        - name: propostaDataNascPatroc
          in: query
          description: Data de nascimento
          required: false
          type: string
        - name: propostaSexoPatroc
          in: query
          description: Sexo
          required: false
          type: string
        - name: access-token
          in: header
          description: API access token
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ConsultarParametrosAporteResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbbiden
        '404':
          description: Not Found
        '422':
          description: Business Error.
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /agora/deparalizaContribuicao:
    post:
      tags:
        - Contribuição
      summary: Desparalização de Contribuição
      operationId: desparalizacontribuicaoUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: canal
          in: header
          description: Canal de acesso
          required: false
          type: integer
          format: int32
        - name: origem
          in: header
          description: Código da junção funcional do funcionário
          required: false
          type: integer
          format: int32
        - name: usuario
          in: header
          description: Usuário
          required: false
          type: integer
          format: int32
        - name: identFuncionario
          in: header
          description: >-
            Identificação se o usuário e funcionário da Organização S - SIM N-
            NÃO
          required: false
          type: string
        - name: corretor
          in: header
          description: Código do corretor
          required: false
          type: integer
          format: int64
        - name: identRepresentante
          in: header
          description: >-
            Identificação se e representante ou corretor 1 - Corretor 2 -
            Representante
          required: false
          type: string
        - in: body
          name: request
          description: request
          required: true
          schema:
            $ref: '#/definitions/DesparalizaContribuicaoRequest'
        - name: access-token
          in: header
          description: API access token
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DesparalizaContribuicaoResponse'
        '201':
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbbiden
        '404':
          description: Not Found
        '422':
          description: Business Error.
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /agora/detalheCertificadoPrevidencia:
    get:
      tags:
        - Contribuição
      summary: Detalhes Certificado Previdência
      operationId: detalhecertificadoprevidenciaUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: agencia
          in: query
          description: Agência
          required: false
          type: string
        - name: conta
          in: query
          description: Conta
          required: false
          type: integer
          format: int32
        - name: cpf
          in: query
          description: CPF
          required: false
          type: integer
          format: int32
        - name: serieProposta
          in: query
          description: Série da proposta
          required: false
          type: integer
          format: int64
        - name: numeroProposta
          in: query
          description: Número da proposta
          required: false
          type: string
        - name: codigoBeneficio
          in: query
          description: Código do benefício
          required: false
          type: integer
          format: int32
        - name: codigoPlano
          in: query
          description: Código do plano
          required: false
          type: integer
          format: int32
        - name: centroCusto
          in: query
          description: Centro de custo
          required: false
          type: integer
          format: int32
        - name: numeroFormulario
          in: query
          description: Número do formulário
          required: false
          type: string
        - name: restart
          in: query
          description: restart
          required: false
          type: integer
          format: int32
        - name: access-token
          in: header
          description: API access token
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DetalheCertificadoPrevidenciaResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbbiden
        '404':
          description: Not Found
        '422':
          description: Business Error.
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /agora/detalheParticipante:
    get:
      tags:
        - Contribuição
      summary: Detalhe do Participante
      operationId: detalheparticipanteUsingGET_1
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: canal
          in: header
          description: Canal de acesso
          required: false
          type: integer
          format: int32
        - name: origem
          in: header
          description: Código da junção funcional do funcionário
          required: false
          type: integer
          format: int32
        - name: usuario
          in: header
          description: Usuário
          required: false
          type: integer
          format: int32
        - name: identFuncionario
          in: header
          description: >-
            Identificação se o usuário é funcionário da Organização S - SIM N-
            NÃO
          required: false
          type: string
        - name: corretor
          in: header
          description: Código do corretor
          required: false
          type: integer
          format: int64
        - name: identRepresentante
          in: header
          description: >-
            Identificação se e representante ou corretor 1 - Corretor 2 -
            Representante
          required: false
          type: string
        - name: matricula
          in: query
          description: Matrícula
          required: false
          type: integer
          format: int64
        - name: access-token
          in: header
          description: API access token
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DetalheParticipanteResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbbiden
        '404':
          description: Not Found
        '422':
          description: Business Error.
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /agora/detalheProposta:
    get:
      tags:
        - Propostas
      summary: Detalhe da Proposta
      operationId: detalhepropostaUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: canal
          in: header
          description: Canal de acesso
          required: false
          type: integer
          format: int32
        - name: origem
          in: header
          description: Codigo da juncao funcional do funcionario
          required: false
          type: integer
          format: int32
        - name: usuario
          in: header
          description: Usuario
          required: false
          type: integer
          format: int32
        - name: identFuncionario
          in: header
          description: >-
            Identificacao se o usuario e funcionario da Organizacao S-SIM e
            N-NÃO
          required: false
          type: string
        - name: corretor
          in: header
          description: Codigo do corretor
          required: false
          type: integer
          format: int64
        - name: identRepresentante
          in: header
          description: >-
            Identificacao se e representante ou corretor 1 - Corretor e
            2-Representante
          required: false
          type: string
        - name: matrícula
          in: query
          description: Matrícula
          required: false
          type: integer
          format: int64
        - name: serie
          in: query
          description: Série da proposta
          required: false
          type: string
        - name: nrProposta
          in: query
          description: Número da proposta
          required: false
          type: integer
          format: int32
        - name: centroCusto
          in: query
          description: Centro de custo da proposta
          required: false
          type: string
        - name: access-token
          in: header
          description: API access token
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DetalhePropostaResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbbiden
        '404':
          description: Not Found
        '422':
          description: Business Error.
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /agora/diminuiValorContribuicao:
    post:
      tags:
        - Contribuição
      summary: Diminuição no Valor de Contribuição
      operationId: diminuirvalorcontribuicaoUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: canal
          in: header
          description: Canal de acesso
          required: false
          type: integer
          format: int32
        - name: origem
          in: header
          description: Código da junção funcional do funcionário
          required: false
          type: integer
          format: int32
        - name: usuario
          in: header
          description: Usuário
          required: false
          type: integer
          format: int32
        - name: identFuncionario
          in: header
          description: >-
            Identificação se o usuário e funcionário da Organização S - SIM N-
            NÃO
          required: false
          type: string
        - name: corretor
          in: header
          description: Código do corretor
          required: false
          type: integer
          format: int64
        - name: identRepresentante
          in: header
          description: >-
            Identificação se e representante ou corretor 1 - Corretor 2 -
            Representante
          required: false
          type: string
        - in: body
          name: request
          description: request
          required: true
          schema:
            $ref: '#/definitions/DiminuiValorContribuicaoRequest'
        - name: access-token
          in: header
          description: API access token
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DiminuiValorContribuicaoResponse'
        '201':
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbbiden
        '404':
          description: Not Found
        '422':
          description: Business Error.
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /agora/disponibilizarBoletoCobranca:
    get:
      tags:
        - Cobrança
      summary: Disponibilizar boleto de cobrança
      operationId: disponibilizarBoletoCobrancaUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: canal
          in: header
          description: Canal de acesso
          required: false
          type: integer
          format: int32
        - name: serie
          in: query
          description: Série
          required: false
          type: integer
          format: int32
        - name: proposta
          in: query
          description: Proposta
          required: false
          type: integer
          format: int32
        - name: codigoProduto
          in: query
          description: Código do produto
          required: false
          type: string
        - name: dataVendaProposta
          in: query
          description: Data de venda da proposta
          required: false
          type: string
        - name: agencia
          in: query
          description: Agencia
          required: false
          type: integer
          format: int32
        - name: conta
          in: query
          description: Conta
          required: false
          type: integer
          format: int32
        - name: agenciaDebito
          in: query
          description: Agência débito
          required: false
          type: integer
          format: int32
        - name: contaDebito
          in: query
          description: Conta débito
          required: false
          type: integer
          format: int64
        - name: valorBoleto
          in: query
          description: Valor do boleto de cobrança
          required: false
          type: integer
          format: int64
        - name: access-token
          in: header
          description: API access token
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DisponibilizaBoletoCobrancaResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbbiden
        '404':
          description: Not Found
        '422':
          description: Business Error.
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /agora/finalizarPropostaDigitada:
    post:
      tags:
        - Propostas
      summary: Finalizar Proposta Digitada
      operationId: finalizarpropostadigitadaUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: identOperacao
          in: header
          description: Identificador da operação
          required: false
          type: integer
          format: int32
        - name: serie
          in: header
          description: Série
          required: false
          type: integer
          format: int32
        - name: codProposta
          in: query
          description: Código da proposta
          required: false
          type: integer
          format: int32
        - name: codUsuario
          in: header
          description: Usuário
          required: false
          type: string
        - in: body
          name: request
          description: request
          required: true
          schema:
            $ref: '#/definitions/FinalizarPropostaDigitadaRequest'
        - name: access-token
          in: header
          description: API access token
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/FinalizarPropostaDigitadaResponse'
        '201':
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbbiden
        '404':
          description: Not Found
        '422':
          description: Business Error.
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /agora/incluirRascunhoProposta:
    post:
      tags:
        - Propostas
      summary: Incluir Rascunho da Proposta
      operationId: incluirrascunhopropostaUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: canal
          in: header
          description: Canal de acesso
          required: false
          type: integer
          format: int32
        - name: origem
          in: header
          description: Código da junção funcional do funcionário
          required: false
          type: integer
          format: int32
        - name: usuario
          in: header
          description: Código da junção funcional do funcionário
          required: false
          type: integer
          format: int32
        - name: identFuncionario
          in: header
          description: Usuário é funcionário da organização? S(SIM) N(NÃO)
          required: false
          type: string
        - name: corretor
          in: header
          description: Código do corretor
          required: false
          type: integer
          format: int64
        - name: identRepresentante
          in: header
          description: >-
            Identificação se é Representante ou Corretor (1-Corretor e 2 -
            Representante)
          required: false
          type: string
        - in: body
          name: request
          description: request
          required: true
          schema:
            $ref: '#/definitions/IncluirRascunhoPropostaRequest'
        - name: access-token
          in: header
          description: API access token
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IncluirRascunhoPropostaResponse'
        '201':
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbbiden
        '404':
          description: Not Found
        '422':
          description: Business Error.
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /agora/listaManutencaoPropostaPendente:
    get:
      tags:
        - Propostas
      summary: Lista manutencao propostas pendentes
      operationId: listamanutencaopropostapendenteUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: canal
          in: header
          description: Canal de Acesso
          required: false
          type: integer
          format: int32
        - name: origem
          in: header
          description: Código da junção funcional do funcionário
          required: false
          type: integer
          format: int32
        - name: usuario
          in: header
          description: Usuário
          required: false
          type: integer
          format: int32
        - name: identFuncionario
          in: header
          description: Identificação se o usuário e funcionário da Organização S-Sim N-Não
          required: false
          type: string
        - name: codigoCorretor
          in: header
          description: Código do Corretor
          required: false
          type: integer
          format: int64
        - name: identRepresentante
          in: header
          description: >-
            Identificação se e Representante ou Corretor 1-Corretor
            2-Representante
          required: false
          type: string
        - name: tipoServico
          in: query
          description: Tipo de Serviço C = CONSULTA E = EXCLUSAO I = INCLUSAO
          required: false
          type: string
        - name: agencia
          in: query
          description: Agência
          required: false
          type: integer
          format: int32
        - name: digitoAgencia
          in: query
          description: Dígito da Agencia
          required: false
          type: string
        - name: conta
          in: query
          description: Conta
          required: false
          type: integer
          format: int64
        - name: digitoConta
          in: query
          description: Dígito da Conta
          required: false
          type: string
        - name: cpf
          in: query
          description: CPF
          required: false
          type: integer
          format: int64
        - name: matricula
          in: query
          description: Matrícula
          required: false
          type: integer
          format: int64
        - name: serie
          in: query
          description: Série da Proposta
          required: false
          type: integer
          format: int32
        - name: numero
          in: query
          description: Número da Proposta
          required: false
          type: integer
          format: int32
        - name: dataInicial
          in: query
          description: Formato DD/MM/AAAA
          required: false
          type: string
        - name: dataFinal
          in: query
          description: Formato DD/MM/AAAA
          required: false
          type: string
        - name: dataSolicitacao
          in: query
          description: Formato DD/MM/AAAA
          required: false
          type: string
        - name: efetiva
          in: query
          description: S-Sim N-Não
          required: false
          type: string
        - name: access-token
          in: header
          description: API access token
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ListaManutencaoPropostaPendenteResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbbiden
        '404':
          description: Not Found
        '422':
          description: Business Error.
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /agora/listaProposta:
    get:
      tags:
        - Propostas
      summary: Listar Propostas e Saldo da Previdência
      operationId: listarPropostasUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: canal
          in: header
          description: Canal de acesso
          required: false
          type: integer
          format: int32
        - name: origem
          in: header
          description: Código da junção funcional do funcionário
          required: false
          type: integer
          format: int32
        - name: usuario
          in: header
          description: Usuário
          required: false
          type: integer
          format: int32
        - name: identificaFuncionario
          in: header
          description: Usuário é funcionário da organização? S(SIM) N(NÃO)
          required: false
          type: string
        - name: codigoCorretor
          in: header
          description: Código do corretor
          required: false
          type: integer
          format: int64
        - name: identificaRepresentante
          in: header
          description: >-
            Identificação se é Representante ou Corretor (1-Corretor e 2 -
            Representante)
          required: false
          type: string
        - name: agencia
          in: query
          description: Agência (sem dígito)
          required: false
          type: integer
          format: int32
        - name: conta
          in: query
          description: Conta (sem dígito)
          required: false
          type: integer
          format: int64
        - name: cpf
          in: query
          description: CPF (CPF+CTRL)
          required: false
          type: integer
          format: int64
        - name: dataNascimento
          in: query
          description: Data de nascimento (DD.MM.AAAA)
          required: false
          type: string
        - name: sexo
          in: query
          description: Sexo (M/F)
          required: false
          type: string
        - name: access-token
          in: header
          description: API access token
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ListaPropostaSaldoPrevidenciaResponse'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Business Error
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /agora/listaPropostaDigitada:
    get:
      tags:
        - Propostas
      summary: Listar Proposta Digitada
      operationId: listapropostadigitadaUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: canal
          in: header
          description: Canal de acesso
          required: false
          type: integer
          format: int32
        - name: origem
          in: header
          description: Código da junção funcional do funcionário
          required: false
          type: integer
          format: int32
        - name: usuario
          in: header
          description: Usuário
          required: false
          type: integer
          format: int32
        - name: identFuncionario
          in: header
          description: >-
            Identificação se o usuário e funcionário da Organização S - SIM N-
            NÃO
          required: false
          type: string
        - name: corretor
          in: header
          description: Código do corretor
          required: false
          type: integer
          format: int64
        - name: identRepresentante
          in: header
          description: >-
            Identificação se e representante ou corretor 1 - Corretor 2 -
            Representante
          required: false
          type: string
        - name: usuarioPrev
          in: query
          description: Usuário
          required: false
          type: string
        - name: dtVendata
          in: query
          description: Data de venda da proposta
          required: false
          type: string
        - name: serie
          in: query
          description: Serie
          required: false
          type: integer
          format: int32
        - name: proposta
          in: query
          description: Proposta
          required: false
          type: integer
          format: int32
        - name: codProduto
          in: query
          description: Código do produto negociado
          required: false
          type: string
        - name: codModalidade
          in: query
          description: Código da modalidade
          required: false
          type: integer
          format: int32
        - name: codFinalidade
          in: query
          description: Código da finalidade
          required: false
          type: integer
          format: int32
        - name: banco
          in: query
          description: Banco
          required: false
          type: integer
          format: int32
        - name: agencia
          in: query
          description: Agência
          required: false
          type: integer
          format: int32
        - name: situacao
          in: query
          description: Situação da proposta
          required: false
          type: string
        - name: pesquisa
          in: query
          description: Pesquisa
          required: false
          type: string
        - name: cpf
          in: query
          description: CPF
          required: false
          type: integer
          format: int32
        - name: filial
          in: query
          description: Filial
          required: false
          type: integer
          format: int32
        - name: controleCpf
          in: query
          description: Controle cpf
          required: false
          type: integer
          format: int32
        - name: dtNascimento
          in: query
          description: Data de nascimento
          required: false
          type: string
        - name: sexo
          in: query
          description: Sexo
          required: false
          type: string
        - name: access-token
          in: header
          description: API access token
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ListaPropostaDigitadaResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbbiden
        '404':
          description: Not Found
        '422':
          description: Business Error.
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /agora/ofertaPlanoPrevidencia:
    get:
      tags:
        - Propostas
      summary: Oferta Plano da Previdência
      operationId: ofertaplanoprevidenciaUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: canal
          in: header
          description: Canal de acesso
          required: false
          type: integer
          format: int32
        - name: origem
          in: header
          description: Código da junção funcional do funcionário
          required: false
          type: integer
          format: int32
        - name: usuario
          in: header
          description: Código da junção funcional do funcionário
          required: false
          type: integer
          format: int32
        - name: identificaFuncionario
          in: header
          description: Usuário é funcionário da organização? S(SIM) N(NÃO)
          required: false
          type: string
        - name: codigoCorretor
          in: header
          description: Código do corretor
          required: false
          type: integer
          format: int64
        - name: identificaRepresentante
          in: header
          description: >-
            Identificação se é Representante ou Corretor (1-Corretor e
            2-Representante)
          required: false
          type: string
        - name: cpf
          in: query
          description: CPF
          required: true
          type: integer
          format: int64
        - name: agencia
          in: query
          description: Agência
          required: true
          type: integer
          format: int32
        - name: conta
          in: query
          description: Conta
          required: true
          type: integer
          format: int64
        - name: modalidade
          in: query
          description: 1 - PGBL 2 - VGBL 3 - VRGP 4 - Tradicionais
          required: true
          type: string
        - name: regimeTributario
          in: query
          description: 'P - Progressivo R - Regressivo '
          required: true
          type: string
        - name: tipoContribuicao
          in: query
          description: 1 - Mensal 2 - Único
          required: true
          type: integer
          format: int32
        - name: valorContribuicao
          in: query
          description: Valor de Contribuição
          required: true
          type: number
          format: double
        - name: access-token
          in: header
          description: API access token
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/OfertaPlanoPrevidenciaResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbbiden
        '404':
          description: Not Found
        '422':
          description: Business Error.
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /agora/paralizaContribuicao:
    post:
      tags:
        - Contribuição
      summary: Paralização de Contribuição
      operationId: paralizacontribuicaoUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: canal
          in: header
          description: Canal de acesso
          required: false
          type: integer
          format: int32
        - name: origem
          in: header
          description: Código da junção funcional do funcionário
          required: false
          type: integer
          format: int32
        - name: usuario
          in: header
          description: Usuário
          required: false
          type: integer
          format: int32
        - name: identFuncionario
          in: header
          description: >-
            Identificação se o usuário e funcionário da Organização S - SIM N-
            NÃO
          required: false
          type: string
        - name: corretor
          in: header
          description: Código do corretor
          required: false
          type: integer
          format: int64
        - name: identRepresentante
          in: header
          description: >-
            Identificação se e representante ou corretor 1 - Corretor 2 -
            Representante
          required: false
          type: string
        - in: body
          name: request
          description: request
          required: true
          schema:
            $ref: '#/definitions/ParalizaContribuicaoRequest'
        - name: access-token
          in: header
          description: API access token
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ParalizaContribuicaoResponse'
        '201':
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbbiden
        '404':
          description: Not Found
        '422':
          description: Business Error.
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /agora/parametrosBeneficioAcumulacao:
    get:
      tags:
        - Beneficio
      summary: Obter o beneficio de acumulacao
      operationId: beneficioacumulacaoUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: canal
          in: header
          description: Canal de acesso
          required: false
          type: integer
          format: int32
        - name: origem
          in: header
          description: Código da junção funcional do funcionário
          required: false
          type: integer
          format: int32
        - name: usuario
          in: header
          description: Usuário
          required: false
          type: integer
          format: int32
        - name: identFuncionario
          in: header
          description: >-
            Identificação se o usuário e funcionário da Organização S - SIM N-
            NÃO
          required: false
          type: string
        - name: codCorretor
          in: header
          description: Código do corretor
          required: false
          type: integer
          format: int64
        - name: identRepresentante
          in: header
          description: Identificação se e representante ou corretor
          required: false
          type: string
        - name: cpf
          in: query
          description: CPF
          required: false
          type: integer
          format: int64
        - name: dtNascimento
          in: query
          description: Data de Nascimento
          required: false
          type: string
        - name: sexo
          in: query
          description: Sexo
          required: false
          type: string
        - name: codPlano
          in: query
          description: Código do plano
          required: false
          type: integer
          format: int32
        - name: codBeneficio
          in: query
          description: Código do benefício
          required: false
          type: integer
          format: int32
        - name: codPlanoJovem
          in: query
          description: Identificação de plano jovem
          required: false
          type: integer
          format: int32
        - name: tpContribuicao
          in: query
          description: Tipo de contribuição
          required: false
          type: integer
          format: int32
        - name: cpfPatrocinador
          in: query
          description: CPF do patrocinador
          required: false
          type: integer
          format: int64
        - name: dtNascimentoPatrocinador
          in: query
          description: Data de nascimento do patrocinador
          required: false
          type: string
        - name: sexoPatrocinador
          in: query
          description: Sexo do patrocinador
          required: false
          type: string
        - name: access-token
          in: header
          description: API access token
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ParametroBeneficioAcumulacaoResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbbiden
        '404':
          description: Not Found
        '422':
          description: Business Error.
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /agora/parametrosBeneficioRisco:
    get:
      tags:
        - Beneficio
      summary: Obter o benefício de risco
      operationId: parametrobeneficioriscoUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: canal
          in: header
          description: Canal de acesso
          required: false
          type: integer
          format: int32
        - name: origem
          in: header
          description: Código da junção funcional do funcionário
          required: false
          type: integer
          format: int32
        - name: usuario
          in: header
          description: Usuário
          required: false
          type: integer
          format: int32
        - name: identFuncionario
          in: header
          description: >-
            Identificação se o usuário é funcionário da Organização S-SIM e
            N-NÃO
          required: false
          type: string
        - name: corretor
          in: header
          description: Código do corretor
          required: false
          type: integer
          format: int64
        - name: identRepresentante
          in: header
          description: >-
            Identificação se é representante ou corretor 1 - Corretor e
            2-Representante
          required: false
          type: string
        - name: cpf
          in: query
          description: CPF
          required: false
          type: integer
          format: int64
        - name: dtNascimento
          in: query
          description: Data de nascimento
          required: false
          type: string
        - name: sexo
          in: query
          description: Sexo F - Feminino M - Masculino
          required: false
          type: string
        - name: codPlano
          in: query
          description: Código do plano
          required: false
          type: integer
          format: int32
        - name: codBeneficiario
          in: query
          description: Código do beneficiário
          required: false
          type: integer
          format: int32
        - name: codPlanoJovem
          in: query
          description: Código do plano jovem
          required: false
          type: integer
          format: int32
        - name: tpContribuicao
          in: query
          description: Tipo de contribuição
          required: false
          type: integer
          format: int32
        - name: cpfPatrocinador
          in: query
          description: CPF do patrocinador
          required: false
          type: integer
          format: int64
        - name: dtNascimentoPatrocinador
          in: query
          description: Data de nascimento do patrocinador
          required: false
          type: string
        - name: sexoPatrocinador
          in: query
          description: Sexo do patrocinador F - Feminino M - Masculino
          required: false
          type: string
        - name: access-token
          in: header
          description: API access token
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ParametroBeneficioRiscoResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbbiden
        '404':
          description: Not Found
        '422':
          description: Business Error.
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /agora/validarPropostaAporte:
    post:
      tags:
        - Propostas
      summary: Validador de propostas
      operationId: validadorpropostaaporteUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: canal
          in: header
          description: Canal de acesso
          required: false
          type: integer
          format: int32
        - name: origem
          in: header
          description: Código da junção funcional do funcionário
          required: false
          type: integer
          format: int32
        - name: usuario
          in: header
          description: Usuário
          required: false
          type: integer
          format: int32
        - name: identFuncionario
          in: header
          description: >-
            Identificação se o usuário e funcionário da Organização S - SIM N-
            NÃO
          required: false
          type: string
        - name: corretor
          in: header
          description: Código do corretor
          required: false
          type: integer
          format: int64
        - name: identRepresentante
          in: header
          description: >-
            Identificação se e representante ou corretor 1 - Corretor 2 -
            Representante
          required: false
          type: string
        - in: body
          name: request
          description: request
          required: true
          schema:
            $ref: '#/definitions/ValidadorPropostaAporteRequest'
        - name: access-token
          in: header
          description: API access token
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ValidadorPropostaAporteResponse'
        '201':
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbbiden
        '404':
          description: Not Found
        '422':
          description: Business Error.
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /agora/validarPropostaInscricao:
    post:
      tags:
        - Propostas
      summary: Validar Proposta da Inscrição
      operationId: validarpropostainscricaoUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: canal
          in: header
          description: Canal de acesso
          required: false
          type: integer
          format: int32
        - name: origem
          in: header
          description: Código da junção funcional do funcionário
          required: false
          type: integer
          format: int32
        - name: usuario
          in: header
          description: Código da junção funcional do funcionário
          required: false
          type: integer
          format: int32
        - name: identificaFuncionario
          in: header
          description: Usuário é funcionário da organização? S(SIM) N(NÃO)
          required: false
          type: string
        - name: codigoCorretor
          in: header
          description: Código do corretor
          required: false
          type: integer
          format: int64
        - name: identificaRepresentante
          in: header
          description: >-
            Identificação se é Representante ou Corretor (1-Corretor e 2 -
            Representante)
          required: false
          type: string
        - in: body
          name: request
          description: request
          required: true
          schema:
            $ref: '#/definitions/ValidarPropostaInscricaoRequest'
        - name: access-token
          in: header
          description: API access token
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ValidarPropostaInscricaoResponse'
        '201':
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbbiden
        '404':
          description: Not Found
        '422':
          description: Business Error.
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
definitions:
  AlteracaoAtcRequest:
    type: object
    properties:
      agencia:
        type: integer
        format: int32
        description: Agência
      canal:
        type: integer
        format: int32
        description: Canal de acesso
      conta:
        type: integer
        format: int64
        description: Conta
      corretor:
        type: integer
        format: int64
        description: Código do corretor
      cpf:
        type: integer
        format: int64
        description: CPF
      dgAgencia:
        type: string
        description: Dígito da agência
      digConta:
        type: string
        description: Dígito da conta
      dtAtc:
        type: integer
        format: int32
        description: >-
          Data de ATC (Aponsetadoria por tempo de contribuição) - (Formato
          AAAAMM)
      efetiva:
        type: string
        description: Efetiva S - Sim N - Não
      identFuncionario:
        type: string
        description: Identificação se o usuário é funcionário da Organização S - SIM N- NÃO
      identRepresentante:
        type: string
        description: >-
          Identificação se é representante ou corretor 1 - Corretor 2 -
          Representante
      matricula:
        type: integer
        format: int64
        description: Matrícula
      numero:
        type: integer
        format: int32
        description: Número da proposta
      origem:
        type: integer
        format: int32
        description: Código da junção funcional do funcionário
      serie:
        type: string
        description: Série da proposta
      tpServico:
        type: string
        description: Tipo de serviço C - Consulta E - Exclusão I - Inclusão
      usuario:
        type: integer
        format: int32
        description: Usuário
  ConsultaDetalhesPropostaResponse:
    type: object
    properties:
      agencia:
        type: integer
        format: int32
        description: Agência da conta do participante
      beneficio:
        type: array
        description: Lista de beneficio
        items:
          $ref: '#/definitions/ConsultaDetalhesPropostaBeneficio'
      cep:
        type: integer
        format: int32
        description: CEP do endereço do participante
      cepJ:
        type: integer
        format: int32
        description: CEP do endereco do jovem
      codAgenciaVenda:
        type: integer
        format: int32
        description: Código da agência de venda de previdência
      codAgente:
        type: integer
        format: int32
        description: Código do agente previdência
      codBanco:
        type: integer
        format: int32
        description: Código do banco do participante
      codBancoVenda:
        type: integer
        format: int32
        description: Código do banco de venda de previdência
      codBloco:
        type: integer
        format: int32
        description: Código do bloco de campo obrigatório
      codConcessao:
        type: integer
        format: int32
        description: Código de concessão previdencia
      codConvenio:
        type: integer
        format: int32
        description: Código do convênio
      codExecutiva:
        type: integer
        format: int32
        description: Código da superintencia executiva
      codFinalidade:
        type: integer
        format: int32
        description: Código da finalidade da proposta
      codGrauParentesco:
        type: integer
        format: int32
        description: Código de grau de parentesco de jovem com o patrocinador
      codIdentDependencia:
        type: integer
        format: int32
        description: Código de identificacao de dependência de patrocinador
      codIdentProduto:
        type: string
        description: Código do identificador do produto
      codIdentTipoDoc:
        type: integer
        format: int32
        description: Código identificador do tipo de documento
      codIndCargoPublico:
        type: integer
        format: int32
        description: Código indicador de quem exerce cargo público
      codIndTributacao:
        type: integer
        format: int32
        description: Código do indicador de tribução
      codIndicie:
        type: integer
        format: int32
        description: Código do indicador de índice de correção
      codModalidade:
        type: integer
        format: int32
        description: Código da modalidade
      codOcupacao:
        type: integer
        format: int32
        description: Código da ocupação do participante
      codOrigemRecurso:
        type: integer
        format: int32
        description: Código da origem de recurso do produto
      codPais:
        type: integer
        format: int32
        description: Código do pais do participante
      codParticipante:
        type: string
        description: Código de documento do participante
      codProdutoNegociado:
        type: string
        description: Código do produto negocioado
      codRecurso:
        type: integer
        format: int32
        description: Código de identificação da origem do recurso
      codRegistro:
        type: integer
        format: int64
        description: Código de registro de concessão na SUSEP
      codRelacionamento:
        type: integer
        format: int32
        description: Código indicador de relacionamento com agente
      codRetorno:
        type: integer
        format: int64
        description: Código de retorno
      codSucursal:
        type: integer
        format: int32
        description: Código da sucursal previdência
      codSuperintencia:
        type: integer
        format: int32
        description: Código da superintencia previdência
      codTipoProduto:
        type: integer
        format: int32
        description: Código do tipo de contrib do produto
      codigoCorretor:
        type: string
        description: Código do Corretor
      codigoRetorno:
        type: integer
        format: int32
        description: Código de origem
      complemento:
        type: integer
        format: int32
        description: Complemento do CEP do endereço
      complementoJ:
        type: integer
        format: int32
        description: Complemento do CEP do endereco do jovem
      controleCpfCnpj:
        type: integer
        format: int32
        description: Controle do CPF/CNPJ do participante
      controleCpfCnpjAg:
        type: integer
        format: int32
        description: Controle do CPF/CNPJ do agente
      controleCpfCnpjEmpregador:
        type: integer
        format: int32
        description: Controle do CPF/CNPJ do empregador
      cpfCnpjAgente:
        type: integer
        format: int32
        description: CPF/CNPJ do agente
      cpfCnpjEmpregador:
        type: integer
        format: int32
        description: CPF/CNPJ do empregador
      cpfCnpjJ:
        type: integer
        format: int32
        description: CPF/CNPJ do jovem patrociando
      cpfCnpjParticipante:
        type: integer
        format: int32
        description: CPF/CNPJ do participante
      ctrlCpfCnpjJ:
        type: integer
        format: int32
        description: Dígito de controle do CPF/CNPJ
      dsCargo:
        type: string
        description: Descrição do cargo público que exerce
      dsCargoAgente:
        type: string
        description: Descrição do cargo do agente público
      dsRelacionamentoAgente:
        type: string
        description: Descrição do relacionamento do agente com o contratante
      dtAgendamento:
        type: string
        description: Data de agendamento da proposta
      dtConcessao:
        type: string
        description: Data de concessão do benefício
      dtExpedicao:
        type: string
        description: Data de expedição do documento do participante
      dtFim:
        type: string
        description: Data fim do exercício do cargo público
      dtInicio:
        type: string
        description: Data de início do exercicio do cargo público
      dtInicioBeneficio:
        type: string
        description: Data de início da vigência do benefício
      dtInicioPlano:
        type: string
        description: Data de início da vigência do plano
      dtNascimento:
        type: string
        description: Data de nascimento do participante
      dtNascimentoJovem:
        type: string
        description: Data de nascimento do jovem patrocinado
      dtVenda:
        type: string
        description: Data de venda da proposta
      email:
        type: string
        description: E-mail do participante
      emailJ:
        type: string
        description: E-mail do jovem patrocinado
      estadoCivil:
        type: integer
        format: int32
        description: Estado civil do participante
      estadoCivilJ:
        type: integer
        format: int32
        description: Estado cívil do jovem
      fatca:
        type: array
        description: Lista Fatca
        items:
          $ref: '#/definitions/ConsultaDetalhesPropostaFatca'
      filialAgente:
        type: integer
        format: int32
        description: Filial do CNPJ do agente
      filialCnpj:
        type: integer
        format: int32
        description: Filial do CNPJ participante
      filialEmpregador:
        type: integer
        format: int32
        description: Filial do CNPJ do empregador
      flialCpfCnpjJ:
        type: integer
        format: int32
        description: Filial do CNPJ do jovem patrociando
      formaEnvio:
        type: integer
        format: int32
        description: Forma de envio de extrato do participante
      idade:
        type: integer
        format: int32
        description: Idade do participante
      idadeJ:
        type: integer
        format: int32
        description: Idade do jovem patrocinado
      identificaFuncionario:
        type: integer
        format: int32
        description: Identificação do Funcionário
      identificaRepresentante:
        type: string
        description: Identificação do Representante
      indAgendamento:
        type: string
        description: Indicador de agendamento S - SIM N -NÃO
      indNascionalidadeFatca:
        type: integer
        format: int32
        description: Indicador de nascionalidade Fatca
      indResidenciaFatca:
        type: integer
        format: int32
        description: Indicador de residência Fatca
      indVistoFatca:
        type: integer
        format: int32
        description: Indicador de visto Fatca
      local:
        type: integer
        format: int32
        description: Local do erro
      mensagem1:
        type: string
        description: Mensagem de Retorno
      mensagem2:
        type: string
        description: Mensagem de Retorno
      nmAgente:
        type: string
        description: Nome do agente público de contratante
      nome:
        type: string
        description: Nome do participante
      nomeJovem:
        type: string
        description: Nome do jovem patrocinado
      nrConta:
        type: integer
        format: int64
        description: Número da conta do participante
      numeroProposta:
        type: integer
        format: int32
        description: Número da proposta de previdência
      observacaoOrigem:
        type: string
        description: Observação da origem do recurso
      orgaoContratante:
        type: string
        description: Descricção do orgão público contratante
      perfilUsuario:
        type: string
        description: Perfil do usuário
      planoPagamento:
        type: integer
        format: int32
        description: Plano de pagamento do benefício
      qtdeBeneficio:
        type: integer
        format: int32
        description: Quantidade de benefício
      qtdeFatca:
        type: integer
        format: int32
        description: Quantidade de ocorrências de Fatca
      serie:
        type: integer
        format: int32
        description: Série da proposta de previdência
      sexo:
        type: string
        description: Sexo do participante
      sexoJ:
        type: string
        description: Sexo do jovem patrocinado
      sqlcode:
        type: integer
        format: int32
        description: SQLCODE
      tamanhoSaida:
        type: integer
        format: int32
        description: Canal de acesso
      taxaCarregamento:
        type: integer
        format: int32
        description: Taxa de carregamento da proposta
      telefone:
        type: array
        description: Lista de Telefones
        items:
          $ref: '#/definitions/ConsultaDetalhesPropostaTelefone'
      telefoneJ:
        type: array
        description: Lista de Telefones Jovem
        items:
          $ref: '#/definitions/ConsultaDetalhesPropostaTelefoneJovem'
      tpConta:
        type: integer
        format: int32
        description: Tipo da conta do participante
      usuario:
        type: string
        description: Usuário
      vlrPatrimonio:
        type: integer
        format: int64
        description: Valor do patrimônio líquido do participante
      vlrPatrimonioDeclarado:
        type: integer
        format: int64
        description: Valor do patrimônio declarado do contratante
      vlrRendaMensal:
        type: integer
        format: int32
        description: Valor da renda mensal do participante
      vlrRendaMensalContratante:
        type: integer
        format: int64
        description: Valor da renda mensal do contratante
      vlrTotalContrib:
        type: integer
        format: int64
        description: Valor total da contribuição
  CancelaPropostaDigitadaResponse:
    type: object
    properties:
      avisoRetorno:
        type: string
        description: Aviso de retorno
      cbcoPrevdS:
        type: integer
        format: int32
        description: Banco
      ccdentCobrFundoS:
        type: integer
        format: int64
      codAviso:
        type: integer
        format: int64
        description: Código de aviso
      codRetorno:
        type: integer
        format: int32
        description: Código de retorno
      codigoRetorno:
        type: integer
        format: int32
        description: Código de retorno
      cppstaProdtPrevdS:
        type: integer
        format: int32
        description: Proposta
      cseriePpstaPrevdS:
        type: integer
        format: int32
        description: Série
      dados:
        type: string
        description: Dados
      dataProtocolo:
        type: string
        description: Data protocolo
      horaProtocolo:
        type: string
        description: Hora Protocolo
      icdentCobrFundoS:
        type: string
      local:
        type: integer
        format: int32
        description: Local do erro
      mensagem1:
        type: string
        description: Mensagem de Retorno
      mensagem2:
        type: string
        description: Mensagem de Retorno
      msgAviso:
        type: string
        description: Mensagem de Retorno
      numeroProtocolo:
        type: string
        description: Número Protocolo
      sqlcode:
        type: integer
        format: int32
        description: SQLCODE
      tamanhoSaida:
        type: integer
        format: int32
        description: Tamanho saída
  ConsultaExtratoBeneficiario:
    type: object
    properties:
      dtNascimento:
        type: string
        description: Data de nascimento do beneficiario
      grauParentesco:
        type: string
        description: Grau de parentesco
      nmBeneficiario:
        type: string
        description: Nome do beneficiario
  AssociarBeneficioRiscoBeneficio:
    type: object
    properties:
      codBeneficiario:
        type: integer
        format: int32
        description: Codigo do beneficiario
      codBloco:
        type: integer
        format: int32
        description: Codigo do bloco
      codDestino:
        type: string
        description: Codigo do destino
      dtVigencia:
        type: string
        description: Data de vigencia
      identBeneficiario:
        type: integer
        format: int32
        description: Identificador do beneficiario
      identObrigatorio:
        type: string
        description: Identificador obrigatorio
      itemBloco:
        type: integer
        format: int32
        description: Item do bloco
      tpBeneficiario:
        type: integer
        format: int32
        description: Tipo de beneficiario
  Fatca:
    type: object
    properties:
      codDocFiscal:
        type: string
        description: Código do documento fiscal
      codDocRenuncia:
        type: integer
        format: int32
        description: Código indicador de documento de renuncia país origem / nacionalidade
      codEmissaoFiscal:
        type: integer
        format: int32
        description: Código de emissão de documento fiscal
      codIndicadorDis:
        type: integer
        format: int32
        description: Código indicador de dispensa fiscal
      codIndicadorObr:
        type: integer
        format: int32
        description: Código indicador de obrigatoriedade fiscal
      codIndicadorRenuncia:
        type: integer
        format: int32
        description: Código indicador de renuncia país origem / nacionalidade
      codPaisEstrangeiro:
        type: string
        description: Código do país do estrangeiro
      identSituacao:
        type: integer
        format: int32
        description: Identificador da situação de estrangeiro
  ValidarPropostaInscricaoLinha:
    type: object
    properties:
      codErro:
        type: integer
        format: int64
        description: Código do erro apresentado na validação
  ConsultarParametrosAporteResponse:
    type: object
    properties:
      codigoRetorno:
        type: integer
        format: int32
        description: Código de retorno
      indCobCarregamento:
        type: integer
        format: int32
        description: Índice Cobertura Carregamento
      localErro:
        type: integer
        format: int32
        description: Local do erro
      mensagem:
        type: string
        description: Mensagem
      sqlCode:
        type: integer
        format: int32
        description: SQL Code
      valorMaximoAporte:
        type: number
        format: double
        description: Valor máximo do aporte
      valorMinimoAporte:
        type: number
        format: double
        description: Valor mínimo do aporte
  AlterarDiaVencimentoCobrancaResponse:
    type: object
    properties:
      agencia:
        type: integer
        format: int32
        description: Agência
      agenciaDigito:
        type: string
        description: Dígito da agência
      canal:
        type: integer
        format: int32
        description: Canal de acesso
      centroCusto:
        type: string
        description: Centro de custo
      codRetorno:
        type: integer
        format: int32
        description: Código do retorno
      conta:
        type: integer
        format: int64
        description: Conta
      contaDigito:
        type: string
        description: Dígito da conta
      corretor:
        type: integer
        format: int64
        description: Código do corretor
      cpf:
        type: integer
        format: int64
        description: CPF
      diaVencimento:
        type: integer
        format: int32
        description: Dia de vencimento
      identFuncionario:
        type: string
        description: >-
          Identificação se o usuário é funcionário da organização S - Sim e N -
          Não
      identRepresentante:
        type: string
        description: >-
          Identificação se é Representante ou Corretor 1 - Corretor 2 -
          Representante
      localErro:
        type: integer
        format: int32
        description: Local do erro
      matricula:
        type: integer
        format: int64
        description: Matrícula
      msgRetorno:
        type: string
        description: Mensagem de retorno
      numeroProposta:
        type: integer
        format: int32
        description: Número da proposta
      origem:
        type: integer
        format: int32
        description: Código da junção funcional do funcionário
      serieProposta:
        type: string
        description: Série da proposta
      sqlCode:
        type: integer
        format: int32
        description: SQL code
      usuario:
        type: integer
        format: int32
        description: Usuário
  ValidarPropostaInscricaoResponse:
    type: object
    properties:
      codRetorno:
        type: integer
        format: int32
        description: Coódigo de retorno
      linhas:
        type: array
        description: Lista de linhas
        items:
          $ref: '#/definitions/ValidarPropostaInscricaoLinha'
      localErro:
        type: integer
        format: int32
        description: Local do erro
      qtdeApontamento:
        type: integer
        format: int32
        description: Quantidade de apontamentos
      sqlCode:
        type: integer
        format: int32
        description: SQL Code
  ErrorInfo:
    type: object
    properties:
      codigo:
        type: string
        example: '2124'
        description: Code error
      mensagem:
        type: string
        example: System unavailable
        description: Message error
  ConsultaDetalhesPropostaTelefoneJovem:
    type: object
    properties:
      codAreaJ:
        type: integer
        format: int32
        description: Código da area do telefone / DDD
      nrRamalJ:
        type: integer
        format: int32
        description: Número do ramal
      nrTelefoneJ:
        type: integer
        format: int64
        description: Número do telefone
      tpTelefone:
        type: integer
        format: int32
  ConsultaExtratoRentabilidadeAnual:
    type: object
    properties:
      anoReferencia:
        type: integer
        format: int32
        description: Ano de referência da rentabilidade
      percentualRentabilidade:
        type: number
        format: double
        description: Percentual de rentabilidade
      sinalRentabilidade:
        type: string
        description: Sinal do percentual de rentabilidade
  DesparalizaContribuicaoResponse:
    type: object
    properties:
      agencia:
        type: integer
        format: int32
        description: Agência
      canal:
        type: integer
        format: int32
        description: Canal de acesso
      codRetorno:
        type: integer
        format: int32
        description: Código do retorno
      conta:
        type: integer
        format: int64
        description: Conta
      corretor:
        type: integer
        format: int64
        description: Código do corretor
      cpf:
        type: integer
        format: int64
        description: CPF
      dataFinal:
        type: string
        description: Formato DDMMAAAA
      dataInicial:
        type: string
        description: Formato DDMMAAAA
      dataSolicitacao:
        type: string
        description: Data do termo de solicitação
      digitoAgencia:
        type: string
        description: Dígito da Agência
      digitoConta:
        type: string
        description: Dígito da Conta
      efetiva:
        type: string
        description: S - Sim N - Não
      identFuncionario:
        type: string
        description: >-
          Identificação se o usuário é funcionário da organização S - Sim e N -
          Não
      identRepresentante:
        type: string
        description: >-
          Identificação se é Representante ou Corretor 1 - Corretor 2 -
          Representante
      localErro:
        type: integer
        format: int32
        description: Local do erro
      matricula:
        type: integer
        format: int64
        description: Matrícula
      msgRetorno:
        type: string
        description: Mensagem de retorno
      numero:
        type: integer
        format: int32
        description: Número da Proposta
      origem:
        type: integer
        format: int32
        description: Código da junção funcional do funcionário
      serie:
        type: integer
        format: int32
        description: Série da Proposta
      sqlCode:
        type: integer
        format: int32
        description: SQL code
      usuario:
        type: integer
        format: int32
        description: Usuário
  DetalheCertificadoPrevidenciaFundo:
    type: object
    properties:
      cnpjFies:
        type: string
        description: CNPJ FIES
      descricaoFies:
        type: string
        description: Descrição FIES
      propostaFies:
        type: integer
        format: int64
        description: Proposta Fies
      situacaoFies:
        type: string
        description: Situação FIES
      taxaAdmFies:
        type: integer
        format: int32
        description: Taxa de administração FIES
      tipoPropostaFies:
        type: string
        description: Tipo da proposta Fies
  ConsultaExtratoLacamentoEmpresa:
    type: object
    properties:
      dsMovimento:
        type: string
        description: Descrição do movimento
      dtMovimento:
        type: string
        description: Data do movimento
      qtdeCota:
        type: number
        format: double
        description: Quantidade de cotas
      sinalCota:
        type: string
        description: Sinal da quantidade de cotas
      sinalFnValor:
        type: string
        description: Sinal do valor fn da cota
      sinalMovimento:
        type: string
        description: Sinal do movimento
      sinalVlrTotal:
        type: string
        description: Sinal do valor total da empresa
      tpMovimento:
        type: integer
        format: int32
        description: Tipo do movimento
      vlrCota:
        type: number
        format: double
        description: Valor da cota
      vlrFnCota:
        type: number
        format: double
        description: Valor fn da cota
      vlrMovimento:
        type: number
        format: double
        description: Valor do movimento
      vlrTotal:
        type: number
        format: double
        description: Valor total da empresa
  DetalhePropostaResponse:
    type: object
    properties:
      agCobranca:
        type: integer
        format: int32
        description: Agência da cobrança
      agResgate:
        type: integer
        format: int32
        description: Agência do resgate
      agVenda:
        type: integer
        format: int32
        description: Agência de venda
      agente:
        type: integer
        format: int32
        description: Agente
      bancoCobranca:
        type: integer
        format: int32
        description: Banco da cobrança
      bancoResgate:
        type: integer
        format: int32
        description: Banco do resgate
      bcOrigem:
        type: integer
        format: int32
        description: Banco origem
      beneficios:
        type: array
        description: Lista de benefícios
        items:
          $ref: '#/definitions/DetalhePropostaBeneficio'
      canal:
        type: integer
        format: int32
        description: Canal de acesso
      causa:
        type: string
        description: Causa
      codCorretor:
        type: integer
        format: int64
        description: Código do corretor
      codEmpresa:
        type: integer
        format: int32
        description: Código da empresa (BVP/KVP)
      codPatricinador:
[...]
